<div class="jumbotron company-headline circle">
	<div class="circle-logo">
	</div>
	<div class="col-xs-6 pull-right catlabels">
		<ul>
			<li>
				<img src="images/ux-design.png">
			</li>
			<li>
				<img src="images/vis-design.png">
			</li>
			<li>
				<img src="images/engineering.png">
			</li>
		</ul>
	</div>
</div>
<div class="row work-summary">
		<blockquote>
			I worked on defining and refining the user experience for the holistic Circle experience and the tailoring of the Android experience. I created user interfaces and features to achieve these goals.
		</blockquote>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>Circle V3 UX & Android Front-end</h1>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/ux-design.png">
					</li>
					<li>
						<img src="images/vis-design.png">
					</li>
					<li>
						<img src="images/engineering.png">
					</li>
				</ul>
			</section>
			<h4>
				I was responsible for helping to define the user experience of the Circle v3 app. This was Circle's first step towards utilizing the local interest graph to create better experiences that connect users to both their friends and what their city has to offer. My responsibilities varied from feature ideation, analysis, handling redundancy and other issues of the user flow, highlighting usability issues, and contributing to the Android front-end codebase. My process primarily consisted of sketching my concepts and then prototyping on the Android OS app. On the visual design side, I assisted in asset creation and filtering of city landscape photos.   
			</h4>
			<section class="tags">
				<span class="tag">ux design</span>
				<span class="tag">android</span>
				<span class="tag">sketching</span>
				<span class="tag">usability</span>
				<span class="tag">prototyping</span>
			</section>
		</article>  
	</div>
	<div class="col-md-6 section">
		<div id="carousel2" class="carousel slide" data-ride="carousel2" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel2" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel2" data-slide-to="1"></li>
				<li data-target="#carousel2" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/v3dash.png" alt="...">
		      <div class="carousel-caption">
						Localized Feed
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/v3eventsweather.png" alt="...">
		      <div class="carousel-caption">
						Connecting with your friends in your local area
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/v3eventsnews.png" alt="...">
		      <div class="carousel-caption">
						Connecting with your local area
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>