<div class="jumbotron company-headline jawbone">
	<div class="logos-jawbone-logo">
	</div>
	<div class="col-xs-6 pull-right catlabels">
		<ul>
			<li>
				<img src="images/ux-design.png">
			</li>
			<li>
				<img src="images/vis-design.png">
			</li>
			<li>
				<img src="images/engineering.png">
			</li>
		</ul>
	</div>
</div>
<div class="row work-summary">
		<blockquote>
			At Jawbone, my work primarily consisted of research on behavior tracking and behavior
			change applications and conceptual flows, along with keynote prototypes of interactions for
			proposed features in the Jawbone UP app, namely “Today I Will” — a motivational goal creation
			feature. My other work at Jawbone consisted of front-end development and content updates for
			the Jawbone support site's redesign and troubleshooting guides.
		</blockquote>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>"Today I Will" feature for Jawbone UP</h1>
			<h2>(active goal creation concept)</h2>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/ux-design.png">
					</li>
					<li>
						<img src="images/vis-design.png">
					</li>
				</ul>
			</section>
			<h4>
				As a design intern, my main project was the Today I Will goal tracking and discovery
				feature for the new Jawbone UP app; this entailed design inquiry and user experience methods
				for understanding goal creation, discovery, and encouragement, along with behavior changing
				methodologies. I conducted research by analyzing behavior changing apps, such as Fig, and
				creating ux and content audits. From there, after looking at how such a system could work in the
				UP app’s environment and design language, I created concept flows and a keynote prototype of
				my proposed interactions. This work assisted in the final "Today I Will" feature.
			</h4>
			<section class="tags">
				<span class="tag">ui design</span>
				<span class="tag">mobile</span>
				<span class="tag">ux auditing</span>
				<span class="tag">content auditing</span>
				<span class="tag">research</span>
				<span class="tag">prototyping</span>
			</section>
		</article> 
	</div>
	<div class="col-md-6 section">
		<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel" data-slide-to="1"></li>
				<li data-target="#carousel" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/TodayIWill.png" alt="...">
		      <div class="carousel-caption">
						Today I Will 
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/up-conceptflow.png" alt="...">
		      <div class="carousel-caption">
						Concept User Flow 
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/todayiwill.gif" alt="...">
		      <div class="carousel-caption">
						Prototype
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>Jawbone Support Website  </h1>
			<h2>Knowledgebase updates and Site Redesign</h2>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/engineering.png" alt="engineering">
					</li>
					<li>
						<span>
						<a href="http://jawbone.com/support" class="icons-link-icon">
							<i class="icons-link-icon"></i>
						</a>
					</span>
					</li>
				</ul>
			</section>
			<h4>
				In preparation for the MINI-Jambox release, I was responsible for updating the support
				site by adding articles for the MINI-Jambox, support landing, and bluetooth pairing guides for
				jambox. In addition to updating the support content, I also contributed to the front-end redesign efforts for Jawbone's support website.
			</h4>
			<section class="tags">
				<span class="tag">SASS</span>
				<span class="tag">CSS 3</span>
				<span class="tag">HTML 5</span>
				<span class="tag">JS</span>
				<span class="tag">responsive web</span>
			</section>
		</article> 
	</div>
	<div class="col-md-6 section">
		<div id="carousel2" class="carousel slide" data-ride="carousel2" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel2" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel2" data-slide-to="1"></li>
				<li data-target="#carousel2" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/jamboxPairingGuide.png" alt="...">
		      <div class="carousel-caption">
						Jambox Pairing Guide (before redesign)
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/redesignsupport2.png" alt="...">
		      <div class="carousel-caption">
						Support Site Redesign (Desktop)
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/redesignsupport1.png" alt="...">
		      <div class="carousel-caption">
						Support Site Redesign (mobile)
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>