<div class="jumbotron company-headline lyft">
	<div alt="lyft banner" class="lyft-logo">
	</div>
	<div class="col-xs-6 pull-right catlabels">
		<ul>
			<li>
				<img src="images/ux-design.png">
			</li>
			<li>
				<img src="images/vis-design.png">
			</li>
			<li>
				<img src="images/engineering.png">
			</li>
		</ul>
	</div>
</div>
<div class="row work-summary">
		<blockquote>
			At Lyft, my work consisted of front-end development (html, css, AngularJS) and often
			visual/layout design for lyft.me, emails for passengers and drivers, driver support tools, and a
			redesign for RegionCfg, a tool used for configuring and/or updating Lyft cities.
		</blockquote>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>Lyft Driver Mentoring Flow</h1>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/vis-design.png">
					</li>
					<li>
						<img src="images/engineering.png">
					</li>
				</ul>
			</section>
			<h4>
				Lyft actively recruits and trains new drivers through a driver mentoring program. In the
				mentoring program, a recruit is mentored by a seasoned driver. To attract get more drivers to
				become mentors, a front-end wizard on lyft.me needed to be designed and engineered. I was
				tasked with the front-end engineering along with visual and layout design of the mentoring
				wizard for desktop and mobile clients.
			</h4>
			<section class="tags">
				<span class="tag">layout design</span>
				<span class="tag">iconography</span>
				<span class="tag">mobile</span>
				<span class="tag">webfont generation</span>
				<span class="tag">responsive web design</span>
			</section>
		</article> 
	</div>
	<div class="col-md-6 section">
		<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel" data-slide-to="1"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/become_a_mentor_mobile.png" alt="...">
		      <div class="carousel-caption">
						Mobile View
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/become_a_mentor.png" alt="...">
		      <div class="carousel-caption">
					 	Desktop View
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>Lyft RegionCfg</h1>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/ux-design.png">
					</li>
					<li>
						<img src="images/vis-design.png">
					</li>
					<li>
						<img src="images/engineering.png">
					</li>
				</ul>
			</section>
			<h4>
				Processes involving pricing, coverage, and other vital information regarding cities is
				done through the region configuration tool. V1 of this tool suffered from a variety of usability
				issues. The system relied on a high level of learnability — forms weren’t meaningful or
				understandable to most users, users had to memorize types of input required for fields, and
				users had difficulty evaluating their actions. Region Config v1 essentially created a gulf of
				evaluation and execution for users. The goals of the redesign were to make the user experience
				clear and understandable, easily readable, and reviewable. Where possible, I added more
				dynamic features to make the use of this tool easier.
			</h4>
			<section class="tags">
				<span class="tag">layout design</span>
				<span class="tag">redesign</span>
				<span class="tag">minimalist design</span>
				<span class="tag">user interfaces</span>
				<span class="tag">usability</span>
			</section>
		</article> 
	</div>
	<div class="col-md-6 section">
		<img src="images/regioncfg.png" class="img-responsive img-thumbnail">
	</div>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>Lyft Driver Support</h1>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/engineering.png">
					</li>
				</ul>
			</section>
			<h4>
				Lyft manages drivers via a support site that contains driver information and profiles. My
				most notable work on the driver support page is adding more information about the driver’s
				contact information via popovers and creating the profile picture frame and Facebook linking to
				the profile.
			</h4>
			<section class="tags">
				<span class="tag">CSS 3</span>
				<span class="tag">HTML5</span>
				<span class="tag">AngularJS</span>
				<span class="tag">user interfaces</span>
				<span class="tag">usability</span>
			</section>
		</article> 
	</div>
	<div class="col-md-6 section">
		<div id="carousel2" class="carousel slide" data-ride="carousel2" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel2" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel2" data-slide-to="1"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/DriverProfilefbphoto.png" alt="...">
		      <div class="carousel-caption">
					 	Driver fb photo
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/DriverProfileSidebarStatus.png" alt="...">
		      <div class="carousel-caption">
						Driver Support Profile Sidebar Status
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>Lyft Emails</h1>
			<h2>(driver communications and ride receipts)</h2>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/vis-design.png">
					</li>
					<li>
						<img src="images/engineering.png">
					</li>
				</ul>
			</section>
			<h4>
				Lyft sends a large variety of emails to a variety of people: community members, drivers,
				passengers, etc. I got to work on ride receipts and driver photo updates to name a few.
			</h4>
			<section class="tags">
				<span class="tag">Email Design</span>
				<span class="tag">Email CSS support</span>
				<span class="tag">usability</span>
			</section>
		</article> 
	</div>
	<div class="col-md-6 section">
		<div id="carousel3" class="carousel slide" data-ride="carousel3" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel3" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel3" data-slide-to="1"></li>
				<li data-target="#carousel3" data-slide-to="2"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/ridereceipt.png" alt="...">
		      <div class="carousel-caption">
						Ride Receipt Emails
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/retakecarphotoemail.png" alt="...">
		      <div class="carousel-caption">
					 	Vehicle Photo Update Emails
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/updatephotoemail.png" alt="...">
		      <div class="carousel-caption">
					 	Driver Photo Update Emails
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>Lyft.me (Official Lyft website)</h1>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/vis-design.png">
					</li>
					<li>
						<img src="images/engineering.png">
					</li>
				</ul>
			</section>
			<h4>
				Lyft.me is Lyft’s official website for both marketing and driver management purposes. My
				work on lyft.me varied from correcting front-end bugs to building responsive wizards for tax
				information and driver welcome kits, along with the public help site (lyft.me/help).
			</h4>
			<section class="tags">
				<span class="tag">CSS 3</span>
				<span class="tag">HTML5</span>
				<span class="tag">AngularJS</span>
				<span class="tag">user flows</span>
				<span class="tag">visual layout</span>
			</section>
		</article> 
	</div>
	<div class="col-md-6 section">
		<div id="carousel4" class="carousel slide" data-ride="carousel4" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel4" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel4" data-slide-to="1"></li>
				<li data-target="#carousel4" data-slide-to="2"></li>
				<li data-target="#carousel4" data-slide-to="3"></li>
				<li data-target="#carousel4" data-slide-to="4"></li>
				<li data-target="#carousel4" data-slide-to="5"></li>
				<li data-target="#carousel4" data-slide-to="6"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/helpSite.png" alt="...">
		      <div class="carousel-caption">
						lyft.me/help
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/drive_portal_welcome_mobile.png" alt="...">
		      <div class="carousel-caption">
					 	Driver Welcome (mobile)
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/drive_portal_welcome.png" alt="...">
		      <div class="carousel-caption">
					 	Driver Welcome (desktop)
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/endOfDriverApp1.png" alt="...">
		      <div class="carousel-caption">
					 	Driver Application: Complete
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/endOfDriverApp2.png" alt="...">
		      <div class="carousel-caption">
					 	Driver Application: Already on File
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/drive_portal_update_application.png" alt="...">
		      <div class="carousel-caption">
					 	Driver Application: Update 
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/drive_portal_settings.png" alt="...">
		      <div class="carousel-caption">
					 	Driver Settings: Tax & Bank Info
		      </div>
		    </div>
		  </div>
	</div>
</div>