<div class="jumbotron company-headline maya">
	<div class="maya-logo">
	</div>
	<div class="col-xs-6 pull-right catlabels">
		<ul>
			<li>
				<img src="images/ux-design.png">
			</li>
			<li>
				<img src="images/engineering.png">
			</li>
		</ul>
	</div>
</div>
<div class="row work-summary">
		<blockquote>
			At MAYA Design, my biggest projects were the development of a front-end bootstrap for
			Highmark Blue Cross Blue Shield, along with a redesign of Highmark’s Spending Accounts
			website. Other projects that I worked on involved the design and development of prototypes for contextual data visualizations for client's API. 
		</blockquote>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>Highmark BCBS Bootstrap</h1>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/engineering.png">
					</li>
					<li>
						<span>
						<a href="http://highmarkblueshield.com/">
							<i class="icons-link-icon"></i>
						</a>
					</span>
					</li>
				</ul>
			</section>
			<h4>
				Highmark’s goals with their redesign were to solve usability issues and promote a
				modern and consistent design language. The bootstrap that I helped to develop saved on
				engineering efforts and allowed brand consistency across Highmark’s various web presences.
			</h4>
			<section class="tags">
				<span class="tag">SASS</span>
				<span class="tag">CSS 3</span>
				<span class="tag">HTML 5</span>
				<span class="tag">DoJo</span>
				<span class="tag">responsive web</span>
			</section>
		</article>  
	</div>
	<div class="col-md-6 section">
		<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel" data-slide-to="1"></li>
				<li data-target="#carousel" data-slide-to="2"></li>
				<li data-target="#carousel" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/discoverHighmark.png" alt="...">
		      <div class="carousel-caption">
						Highmark BCBS landing page
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/discoverHighmark-mediumscreen.png" alt="...">
		      <div class="carousel-caption">
						Highmark BCBS - tablet 
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/discoverHighmark-smallscreen.png" alt="...">
		      <div class="carousel-caption">
						Highmark BCBS - mobile
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>Highmark Spending Accounts Redesign  </h1>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/engineering.png">
					</li>
					<li>
						<img src="images/vis-design.png">
					</li>
				</ul>
			</section>
			<h4>
				Highmark wanted to keep some legacy assets in it’s redesign. Some of these assets had
				architectural limitations due to development environment. One such asset was the Highmark
				Spending Accounts website. I was tasked with the development and graceful degradation of this
				site in consistency with the new design language. Due to the client's third party web vendor templating, I was restricted to solely using CSS to accomplish this redesign. One of the biggest challenges was supporting IE 7.
			</h4>
			<section class="tags">
				<span class="tag">advanced CSS</span>
				<span class="tag">graceful degradation</span>
				<span class="tag">ie support</span>
			</section>
		</article> 
	</div>
	<div class="col-md-6 section">
		<img src="images/highmarkspendingaccnts.png" class="img-responsive img-thumbnail">
	</div>
</div>