<div class="jumbotron company-headline other">
	<div class="tagline">
		<h1> 
			Other Projects
		</h1>
	</div>
	<div class="col-xs-6 pull-right catlabels">
		<ul>
			<li>
				<img src="images/ux-design.png">
			</li>
			<li>
				<img src="images/vis-design.png">
			</li>
			<li>
				<img src="images/engineering.png">
			</li>
		</ul>
	</div>
</div>
<div class="row work-summary other-summary">
		<blockquote>
			A collection of side projects, research, course projects, concepts, and sketches. 
		</blockquote>
</div>
<div class="row">
	<div class="col-md-6 section">
		<article>
			<h1>CMU Housing Finder</h1>
			<section>
				<ul class="catlabels">
					<li>
						<img src="images/ux-design.png">
					</li>
					<li>
						<img src="images/vis-design.png">
					</li>
					<li>
						<img src="images/engineering.png">
					</li>
				</ul>
			</section>
			<h4>
				For the CMU SCS course, "Technical Communications for Computer Scientists", students form groups for the entire semester to create solutions to major problems of their choice, while also exercising technical communications skills, such as proposal drafting. My team proposed a solution to Carnegie Mellon's housing system and roommate matching processes through a housing and roommate finder dashboard app. As the team's ux designer, I followed an iterative design process, where I A/B tested and improved upon the proposed design, over the course of the semester, followed by a final prototype. 
			</h4>
			<section class="tags">
				<span class="tag">SASS</span>
				<span class="tag">CSS 3</span>
				<span class="tag">HTML 5</span>
				<span class="tag">user research</span>
				<span class="tag">a/b testing</span>
				<span class="tag">iterative design</span>
				<span class="tag">prototyping</span>
			</section>
		</article>   
	</div>
	<div class="col-md-6 section">
		<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel" data-slide-to="1"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="images/lowfi.jpg" alt="...">
		      <div class="carousel-caption">
						low fidelity mockup
		      </div>
		    </div>
		    <div class="item">
		      <img src="images/mockup-medium.png" alt="...">
		      <div class="carousel-caption">
						final prototype
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>